.video-thumbnail img {
  width: 100%;
}

.video-titole {
  color: white !important;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
}

.username {
  position: absolute;
  bottom: 5px;
  left: 20px;
  background-color: black;
}

.username a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 2px 8px;
}

.btn-danger {
  position: absolute;
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(217, 83, 78, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 20px solid rgba(217, 83, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  width: 350px;
}

.btn-danger:hover {
  color: #FFF;
  background: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}

.btn {
  margin-left: 0px;
  margin-right: 0px;
}
/* Boostrap Buttons Styling */

.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}